.container {
  display: flex;
  margin: 1.5rem 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 6.5rem;
}

.container article h1 {
  font-size: clamp(2.5rem, 3.4vw, 4rem);
  font-family: 'Poppins';
}

.container article h2 {
  font-size: 1rem;
  margin-top: 2rem;
  max-width: 55dvw;
  min-width: 300px;
  font-family: 'Poppins';
  line-height: 1.5rem;
  text-align: justify;
  color: #1A1A1A;
}


.container article span {
  color: #92683E;
}

.container article p {
  font-size: clamp(1rem, 1.4vw, 4rem);
  font-family: 'Raleway', sans-serif;
  margin-top: 1rem;
  color: #393A34;
}

.container article div {
  display: flex;
  gap: .5rem;
  align-items: end;
  margin-top: .7rem;
}

.container article div button {
  background-color: transparent;
  border: 1px solid #4B5F44;
  background-color: #4B5F44;
  color: whitesmoke;
  font-size: 1.2rem;
  padding: .4rem 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-family: 'Raleway', sans-serif;
}

.container article div button:hover {
  transform: scale(1.1);
}

.container article div a {
  font-family: 'Poppins', sans-serif;
  color: #393A34;
  transform: translateY(-4px);

}

@media (max-width: 620px) {
  .container {
    margin: 1.5rem 2rem;
  }

  .container div {
    flex-wrap: wrap;
  }

  .container article h1 {
    font-size: 1.7rem;
  }

  .container article h2 {
    margin-top: 2rem;
    max-width: 70dvw;
  }


  .container img {
    width: 19rem;
  }
}
